<div class="col-md-6 offset-md-3">
    <a [routerLink]="['/atmEvents']">
        <button type="menu" class="btn btn-primary">Back</button>
    </a>
  <h3>Deposit Amount</h3>
  <form (ngSubmit) = "onSubmit()">
      <div class="form-group">
          <label>Account Number</label>
          <input type = "text" class="form-control" id="accNo"
              [(ngModel)] = "deposit.accNo" name = "accNo" placeholder="Enter Account No."/>
      </div>
      <div class="form-group">
          <label>Amount</label>
          <input type = "text" class="form-control" id="amount"
              [(ngModel)] = "deposit.amount" name = "amount" placeholder="Enter Amount"/>
      </div>
      <div class="form-group">
          <button class="btn btn-success" type="submit"> Deposit </button>
      </div>
  </form>
</div>